
  <nav class="container mt-5"  style="height: -80vh;">
  
    <ul class="nav justify-content-center">
     <p>Request: </p>
     <li class="page-item pe-3 ms-2">
       <a href="https://t.me/movieaiteshsbssbssjsj" class="page-link"><i class="fab fa-telegram"> ||</i></a>
     </li> 
     <li class="page-item">
       <a href="https://chat.whatsapp.com/KFi4sOAS4tG9MBgbM0zqGX" class="page-link"><i class="fab fa-whatsapp"> ||</i> </a>
     </li>
     <li class="page-item ms-2">
      <a href="/movies/add" class="page-link">Add movie</a>
     </li>
    </ul>
 </nav>
 <script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280533"></script>