<%-include ('partials/header') -%>

<div class="container3"><p><i class="fas fa-music"></i> Music will b add soon....................</p></div>
<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280587"></script>
<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280587"></script>
<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280551"></script>
<script src="https://bid.onclckstr.com/vast?spot_id=6055284"></script>

<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280587"></script>
<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280587"></script>
<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280551"></script>
<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280551"></script>
<script src="https://bid.onclckstr.com/vast?spot_id=6055284"></script>

<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280587"></script>
<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280587"></script>
<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280551"></script>
<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280551"></script>
<script src="https://bid.onclckstr.com/vast?spot_id=6055284"></script>

<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280587"></script>
<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280587"></script>
<script async src="https://js.onclckmn.com/static/onclicka.js" data-admpid="280551"></script>
<script src="https://bid.onclckstr.com/vast?spot_id=6055284"></script>

<%-include ('partials/footer') -%>